<div class="footer w-100">
  <div class="container">
    <div class="row w-100 m-0">
      <div class="logo px-sm-0 px-3" routerLink="/home" title="Vá para a Home">
        <i class="fab fa-canadian-maple-leaf fa-lg"></i>
      </div>
      <div class="text-center py-3 col-12 py-3">
        <span class="">Siga-nos nas redes sociais:</span>
        <div
          class="text-muted py-2 d-flex justify-content-center align-items-center icones"
        >
          <a
            href="https://www.facebook.com/"
            title="Ir para pagina no facebook"
          >
            <i class="fab fa-facebook-f"></i>
          </a>
          <a
            href="https://www.linkedin.com/in/gabriel-monteiro-978aa8189/"
            title="Ir para pagina no Linkedin"
          >
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a
            href="https://github.com/Gabriel-Monteiro7"
            title="Ir para pagina no GitHub"
          >
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright text-muted row text-lg-left text-center col-12 m-0">
      <div class="col-12 text-center py-3">
        <a routerLink="/home" title="Vá para a Home"> Home</a>
      </div>
      <div class="col-12 text-center">
        © {{ date }} Todos os direitos reservados.
      </div>
    </div>
  </div>
</div>
